<header>

    <section class="common-navbar-container">
  
      <nav class="common-navbar">
  
        <ul>
  
          <li class="common-nav-list-item">
  
            <a class="common-item-link" href="#">Дашборд</a>    
  
          </li>
  
          <li class="common-nav-list-item">
  
            <a class="common-item-link" href="#">Тарифи</a>
  
          </li>
  
          <li class="common-nav-list-item">
  
            <a class="common-item-link" href="#">АРІ</a>
  
          </li>
  
          <li class="common-nav-list-item">
  
            <a class="common-item-link" href="#">Контакти</a>
  
          </li>
  
          <li class="common-nav-list-item">
  
            <a class="common-item-link" href="#">Мова</a>
  
          </li>
  
        </ul>
  
      </nav>
  
    </section>
  
    <section class="main-navbar-container">
  
      <nav class="main-navbar">
  
        <a href="#" class="monobank-logo">
  
          <img class="monobank-logo-img" src="../assets/images/main-logo.svg" alt="">
    
        </a>
  
        <ul class="main-nav-list">
  
          <li class="main-nav-item">
  
            <a class="main-item-link" href="#">КАРТКИ</a>
  
          </li>
  
          <li class="main-nav-item">
  
            <a class="main-item-link" href="#">ФОП</a>
  
          </li>
  
          <li class="main-nav-item">
  
            <a class="main-item-link" href="#">ДЕПОЗИТИ</a>
  
          </li>
  
          <li class="main-nav-item">
  
            <a class="main-item-link" href="#">ОБЛІГАЦІЇ</a>
  
          </li>
  
          <li class="main-nav-item">
  
            <a class="main-item-link" href="#">ПОКУПКА ЧАСТИНАМИ</a>
  
          </li>
  
          <li class="main-nav-item">
  
            <a class="main-item-link" href="#">МІЖНАРОДНІ ПЕРЕКАЗИ</a>
  
          </li>
  
        </ul>
  
      </nav>
  
    </section>
  
  </header>
