<footer>

    <h2 class="footer-title"><a class="white" href="#">monobank <span class="ub">| Universal Bank</span></a></h2>
  
    <p class="footer-text white">Щоб стати клієнтом, потрібно мати смартфон на Android або iOS</p>

    <section class="footer-nav">

    <nav class="bank">

      <ul class="footer-nav-list">

      <h3>Банк</h3>

      <li><a href="#" class="white">Про банк</a></li>

      <li><a href="#" class="white">Кар'єра</a></li>

      <li><a href="#" class="white">Контакти</a></li>

      <li><a href="#" class="white">Умови та правила</a></li>

      <li><a href="#" class="white">Безпека</a></li>

      <li><a href="#" class="white">АРІ</a></li>

    </ul>

    </nav>

    <nav class="Cards">

      <ul class="footer-nav-list">

      <h3>Картки</h3>

      <li><a href="#" class="white">Чорна картка</a></li>

      <li><a href="#" class="white">Біла картка</a></li>

      <li><a href="#" class="white">Platinum картка</a></li>

      <li><a href="#" class="white">Iron картка</a></li>

      <li><a href="#" class="white">Дитяча картка</a></li>

      <li><a href="#" class="white">єПідтримка<span class="new">NEW</span></a></li>

      </ul>

    </nav>

    <nav class="Products">

      <ul class="footer-nav-list">

      <h3>Продукти</h3>

      <li><a href="#" class="white">Покупка частинами</a></li>

      <li><a href="#" class="white">Розсрочка</a></li>

      <li><a href="#" class="white">Міжнародні перекази</a></li>

      <li><a href="#" class="white">ФОП</a></li>

      <li><a href="#" class="white">Депозити</a></li>

      <li><a href="#" class="white">Оплата у ресторанах</a></li>

      <li><a href="#" class="white">Реєстрові виплати</a></li>

      <li><a href="#" class="white">Оюлігації<span class="new">NEW</span></a></li>

      <li><a href="#" class="white">Інвестиції<span class="new">NEW</span></a></li>

      <li><a href="#" class="white">QR-еквайринг<span class="new">NEW</span></a></li>

      <li><a href="#" class="white">Інтернет-еквайринг<span class="new">NEW</span></a></li>

      <li><a href="#" class="white">Плати пізніше<span class="new">NEW</span></a></li>

      </ul>

    </nav>

    <aside>

      <ul class="social-media-list">

        <li class="social-media-item">

          <a href=""><img src="../../assets/images/facebook.png" alt=""></a>

        </li>

        <li class="social-media-item">

          <a href=""><img src="../../assets/images/twitter.png" alt=""></a>

        </li>

        <li class="social-media-item">

          <a href=""><img src="../../assets/images/instagram.png" alt=""></a>

        </li>

        <li class="social-media-item">

          <a href=""><img src="../../assets/images/youtube.png" alt=""></a>

        </li>

      </ul>

      <p class="aside-text">АТ «УНІВЕРСАЛ БАНК» Ліцензія НБУ №92 від 20.01.1994, Номер у держреєстрі банків № 226</p>
      
      <p class="aside-text">Банк є учасником Фонду гарантування вкладів фізичних осіб</p>

    </aside>

  </section>

</footer>
