@import url(../../assets/css/common-styles.css);

footer{
    background-color: black;

    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
}

h3{
    color: rgb(104, 104, 104);

    font-weight: 900;
    font-size: 24px;

}

.footer-title, .footer-text{
    padding-left: 74px;
}

ul{
    padding-left: 0px;
    margin-right: 140px;

    margin-block-start: 0;
}

li{
    padding-bottom: 18px;
}

.new{
    display: inline-block;
    text-align: center;

    font-size: 12px;
    font-weight: 500;
    color: black;
    background-color: rgb(246, 82, 82);

    width: 36px;
    height: 16px;

    border-radius: 4px;

    transform: translateY(-50%);
    margin-left: 5px;
}

a:hover{
    color: rgb(246, 82, 82);
}

aside{
    width: 253px;
    margin-left: 0px;
}

.aside-text{
    font-size: 14px;
    color: rgb(115, 115, 115);
}

.social-media-list{
    margin-block-start: 30px;
    display: flex;
}

.social-media-item{
    padding-right: 20px;
}

img{
    width: 48px;
}
