<section class="fop">

    <h2 class="fop-title white">Як відкрити <br> рахунок ФОП</h2>

    <ol class="fop-instruction">

      <li class="fop-inst-item">

        <div class="icon-container">

          <img class="icon" src="../assets/images/1.webp" alt="">

        </div>

        <p class="white">Пройти швидку реєстрацію в додатку monobank та отримати картку</p>

      </li>

      <li class="fop-inst-item">

        <div class="icon-container">

          <img class="icon" src="../assets/images/2.webp" alt="">

        </div>

        <p class="white">Бути зареєстрованим як фізична особа-підприємець</p>

      </li>

      <li class="fop-inst-item">

        <div class="icon-container">

          <img class="icon" src="../assets/images/3.webp" alt="">

        </div>

        <p class="white">Відкрити рахунок ФОП у додатку monobank в 1 торкання</p>

      </li>

    </ol>

  </section>
