<section class="cabinet">

    <img class="cabinet-img" src="../assets/images/cab-image.webp" alt="">

    <div class="cabinet-content">

      <h2 class="cabinet-title">Бухгалтерський кабінет</h2>

      <p class="cabinet-text">Окремий бухгалтерський кабінет для керування рахунком ФОП.</p>

      <p class="cabinet-text">Можна додати до двох додаткових номерiв телефону для роботи у веб-кабінеті.</p>

      <button class="button cabinet-enter-button" type="button">Увійти в кабінет</button>

    </div>

  </section>
