<section class="entry-info">

    <div class="enty-info-content">

      <h2 class="entry-info-title white">Ми знову прибрали все зайве, щоб ви отримали кращий досвід.</h2>

      <p class="entry-info-text white">Залиште номер телефону, і ми надішлемо посилання на додаток, де можна відкрити рахунок ФОП</p>

      <form action="" class="entry-info-form">

        <span class="input-container">

          <input class="phone-number-input" type="phone" placeholder="+380 (XX) XXX-XX-XX">

        </span>

        <button class="button phone-number-submit" type="submit">Хочу рахунок ФОП</button>

      </form>

    </div>

    <img class="entry-info-img" src="../assets/images/cat.webp" alt="">

  </section>
