/*Entry information styles*/
@import url(../../assets/css/common-styles.css);
.resp-entry-info-img{
    display: none;
}

.entry-info{
    background:linear-gradient(#6274E3, #6A45DE);
    padding-bottom: 170px;
    padding-top: 120px;
    margin-top: 30px;
}

.enty-info-content{
    float: left;
    width: 50%;

    margin-top: 70px;
}

.entry-info-img{
    display: flex;
    width: 50%;
    width: 504px;
}

form{
    display: flex;
    padding-top: 30px;
}

input{
    border: none;
    width: 100%;
    background-color: inherit;
    padding-left: 24px;
}

input:focus{
    
    border: none;
    outline: none;
}

input::placeholder{
    font-size: 18px;
    font-weight: 700;

    color: #C4B0F1;
}

.input-container{
    width: 288px;
    height: 56px;
    margin-right: 20px;

    display: flex;
    align-items: center;


    border-radius: 16px;

    background-color: #8963E5;
}

.phone-number-submit{
    background-color: white;
    color: #6A45DE;
}

@media (max-width: 1083px){
    section{
        padding-right: 74px;
    }

    .entry-info-img{
        display: none;
    }

    .resp-entry-info-img{
        display: block;
        width: 100%;

        margin: auto;
    }

    .enty-info-content{
        float: none;

        margin: 0 auto;
        width: 600px;
    }
}

@media (max-width: 1030px){

    .entry-info{
        margin-top: 0px;
    }

}

@media (max-width: 740px){
    .enty-info-content{
        width: 100%;
    }

    form{
        display: block;
    }

    .input-container{
        width: 100%;
    }

    button{
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 600px){
    .entry-info{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h2{
        font-size: 22px;
        line-height: 35px;
    }
}