<section class="get-card">

    <div class="get-card-content">

      <h1 class="get-card-title white">Немає картки monobank?</h1>

      <p class="white">Не страшно, її можна отримати просто зараз</p>

      <button class="get-card-button" type="button">Отримати карту</button>

      <blockquote class="white">Відкриття картки ні до чого не зобов'язує. Крім рахунка ФОП у нас дуже багато <a href="#">крутих пропозицій</a></blockquote>

    </div>

    <div class="get-card-img">

      <img src="../assets/images/card.webp" alt="">

    </div>

  </section>
